/* layout */

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
}

/* .row > .col:first-child {
  border-right: 1px solid #ccc;
  max-width: 400px;
}

.row > .col:last-child {
  background: #fafafa;
} */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: right;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media all and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .row > .col:first-child {
    border-right: none;
    max-width: none;
  }
}

/* apps */

.authors-list {
  color: #9d9d9d;
  font-weight: bold;
}

.ratings-list {
  padding: 10px 0;
}

.avg-rating {
  color: #6b6b6b;
}

.stars {
  color: gold;
}

.book-title {
  white-space: normal;
  margin-top: 4px;
}

.book-title-card {
  white-space: normal;
  margin-top: 4px;
  max-height: 45px;
}

.book-image {
  height: 150px;
  width: 110px;
  background-size: cover;
}

.book-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-content {
  background: white;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-height: 150px;
}

.list-item {
  display: flex;
  height: 30px;
  height: 30px;
  align-items: center;
}

.list-item-label {
  margin-left: 10px;
  height: 30px;
  line-height: 2;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding-top: 20px;
  justify-content: flex-end;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

li.page-item.active > a {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.book-container {
  margin-left: 20;
  width: 50%;
}

.other-books-container {
  margin-left: 'auto';
  width: 40%;
  padding: 1px;
}

.other-books-header {
  flex: 2;
  padding-top: 5%;
}

.other-books-sub-container {
  flex: 3;
}

.other-books-cover {
  height: 10vh;
  margin-right: 5%;
  padding: 10%;
}

.other-books-title-container {
  height: 100%;
  display: table;
  width: 100%;
}

.other-books-title {
  vertical-align: middle;
  line-height: normal;
  display: table-cell;
}
