.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  width: calc(100% - 400px);
  padding: 15px;
}

.result-list-container {
  max-width: 100%;
  margin: 0px auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.authors-list {
  color: #9d9d9d;
  font-weight: bold;
}

.ratings-list {
  padding: 10px 0;
}

.avg-rating {
  color: #6b6b6b;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.stars {
  color: gold;
}

.location {
  color: salmon;
  margin-right: 5px;
}

.meetup-location {
  margin: 4px 0;
}

.book-title {
  white-space: normal;
  margin-top: 4px;
}

.book-title-card {
  white-space: normal;
  margin-top: 4px;
  max-height: 45px;
}

.book-image {
  height: 150px;
  width: 110px;
  background-size: cover;
}

.book-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-content {
  text-align: left;
  background: white;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.text-center {
  text-align: center;
}

.ml20 {
  margin-left: 20px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.rs-pagination {
  display: none;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* layout */

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
  padding: 15px;
  width: 100%;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

@media all and (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}

/* apps */

.authors-list {
  color: #9d9d9d;
  font-weight: bold;
}

.ratings-list {
  padding: 10px 0;
}

.avg-rating {
  color: #6b6b6b;
  margin-left: 5px;
}

.stars {
  color: gold;
}

.location {
  color: salmon;
  margin-right: 5px;
}

.meetup-location {
  margin: 4px 0;
}

.book-title {
  white-space: normal;
  margin-top: 4px;
}

.book-title-card {
  white-space: normal;
  margin-top: 4px;
  max-height: 45px;
}

.book-image {
  height: 150px;
  width: 110px;
  background-size: cover;
}

.book-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-content {
  background: white;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.meetup-title {
  white-space: normal;
}

.meetup-topics {
  height: 35px;
  overflow: hidden;
}

.meetup-topic {
  background-color: #dedede;
  color: #555;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.meetup-topic:first-child {
  margin-left: 0;
}

.col .meetup-list-image {
  background-size: cover;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item-label {
  margin-left: 10px;
}

.filter-container {
  line-height: 1.8;
}
