#root {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-family: Avenir;
  color: #2c3e50;
}

h2 {
  text-align: center;
}

.autocomplete-input {
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 0.9rem;
  outline: none;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 0;
  background-size: 18px;
}

.autocomplete-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;
}

.suggestion {
  display: flex;
  align-items: flex-start;
}

.suggesttion h4 {
  margin-bottom: 5px;
}

.suggestion img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.suggestion.selected {
  margin-top: 20px;
}

.layout {
  display: flex;
  margin-top: 20px;
}

.filter {
  min-width: 300px;
  line-height: 1.5;
}

#language-filter label {
  font-weight: 200;
  padding-left: 5px;
}

#language-filter input {
  position: relative;
  top: 2px;
}
#language-filter div {
  padding-bottom: 5px;
}
.result-set {
  display: flex;
  background: white;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* padding: 10px; */
}

.result-set img {
  height: 150px;
  width: 150px;
  background-size: cover;
  padding: 10px;
}

.result-set .details {
  padding-left: 20px;
}

.result-set h4 {
  font-weight: bold;
  margin-bottom: 6px;
}

.suggestion h4,
p {
  margin: 0;
  color: #9d9d9d;
}
